{{ 'component-options-available-card.css' | asset_url | stylesheet_tag }}

<div class="container4 row4">
  {% for product in section.settings.collection.products %}
    <div class= "card99">
      <div class="card99__featured-image">
        <img class="card99__img" src="{{ product.featured_image | img_url }}" draggable="false">
      </div>
      <div class="product-images">
        <button class="slide-btn prev-slide"><</button>
        <button class="slide-btn next-slide">></button>
        {% for image in product.images %}
          <div class="img-slide">
            <img class="img-slide__img img-{{ forloop.index }}" src="{{ image | img_url }}" draggable="false">
          </div>
        {% endfor %}
      </div>
      <div class="card99__product-information">
        <div class="card99__title-price"> 
          <h2 class="card99__title">Jean Shorts</h2>
          <div class="card99__price">
            <span>$45</span>
          </div>
          <div class="card99__swatches">
            <span>Swatches</span>
          </div>
        </div>
        <div class="size-options">
          <span>SMLXL</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Options available cards",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Options available cards"
      }
    ]
  }
{% endschema %}
