{{ 'component-slick-slider.css' | asset_url | stylesheet_tag }}

<div class="slick">
  <div class="slick-container row">
    {% for product in section.settings.collection.products %}
      <div class="slide">
        <img draggable="false" src="{{ product.featured_image | image_url }}">
      </div>
    {% endfor %}
  </div>
</div>


<script>
  const slider = document.getElementsByClassName('slick')
  let isDown = false;
  let startX;
  let scrollLeft;
  
  slider[0].addEventListener('mousedown', (e) => {
    isDown = true;
    startX = e.pageX - slider[0].offsetLeft;
    scrollLeft = slider[0].scrollLeft;
  });

  slider[0].addEventListener('mouseup', (e) => {
    isDown = false;
  });

  slider[0].addEventListener('mouseleave', (e) => {
    isDown = false;
  });
  
  slider[0].addEventListener('mousemove', (e) => {
    if(!isDown) return; // stop the fn from running
    e.preventDefault();
    const x = e.pageX - slider[0].offsetLeft; 
    const walk = x - startX;
    slider[0].scrollLeft = scrollLeft - walk;
  });
</script>

{% schema %}
  {
    "name": "Slick Slider",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Slick Slider" 
      }
    ]
  }
{% endschema %}