{{ 'component-slick-slider.css' | asset_url | stylesheet_tag }}

<section>
  <div class="slick-slider">
    <div class="container carousel">
      <ul class="slick-slider__list row">
        {% for product in section.settings.collection.products %}
          <li class="slide">
            <img src="{{ product.featured_image | image_url }}">
          </li>
        {% endfor %}
      </ul>  
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Slick Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slick Slider"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image" 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slick Slider" 
      }
    ]
  }
{% endschema %}