{{ 'component-slick-slider.css' | asset_url | stylesheet_tag }}

<div class="slick">
  <div class="slick-container row">
    {% for product in section.settings.collection.products %}
      <div class="slide">
        <img draggable="false" src="{{ product.featured_image | image_url }}">
      </div>
    {% endfor %}
  </div>
</div>


<script>
  const slider = document.getElementsByClassName('slick')[0]
  let isDown = false;
  let startX;
  let scrollLeft; // slick element distance from left (margin-left ?)
  
  // Mouse events
  slider.addEventListener('mousedown', dragStart);
  slider.addEventListener('mousemove', dragAction);
  slider.addEventListener('mouseup', dragEnd);
  slider.addEventListener('mouseleave', dragEnd);

  // Touch events
  slider.addEventListener('touchstart', dragStart);
  slider.addEventListener('touchmove', dragAction);
  slider.addEventListener('touchend', dragEnd);

  function dragStart(e) {
    isDown = true;
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
    cancelMomentumTracking();
  }

  function dragAction(e) {
    if(!isDown) return; // stop the fn from running
    const x = e.pageX - slider.offsetLeft; 
    const walk = (x - startX);
    let prevScrollLeft = slider.scrollLeft;
    slider.scrollLeft = scrollLeft - walk;
    velX = slider.scrollLeft - prevScrollLeft;
  }

  function dragEnd(e) {
    isDown = false;
    beginMomentumTracking();
  }
  
  // Momentum
  let velX = 0;
  let momentumID;

  function beginMomentumTracking() {
    momentumID = requestAnimationFrame(momentumLoop);
  }

  function momentumLoop() {
    slider.scrollLeft += velX * 2;
    velX *= 0.95;
    if (Math.abs(velX) > 0.7) {
      momentumID = requestAnimationFrame(momentumLoop);
    }
  }

  function cancelMomentumTracking() {
    cancelAnimationFrame(momentumID);
  }

  // Scroll
  slider.addEventListener('wheel',(e) => {
    window.requestAnimationFrame(() => {
      slider.scrollTo({top: 0, left: slider.scrollLeft + (e.deltaX * 2), bahavior: "smooth"});
    });
  });
</script>

{% schema %}
  {
    "name": "Slick Slider",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Slick Slider" 
      }
    ]
  }
{% endschema %}