img {
   max-width: 100%;
   display: block;
}

.row {
  display: flex;
  gap: .625em;
}

.slick {
  overflow: hidden;
  padding: 3.125em;
}

.slide {
  min-width: 60vw;
  position: relative;
}

.slide:hover img {
  opacity: 33%;
  cursor: pointer;
}

.slide:hover .slide__button {
  display: block;
}

.slide__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  z-index: 1;
  display: none;
  border: 1px solid;
  padding: .125em .5em;
  font-size: 1.333rem;
  font-weight: 700;
}

.transparent-background {
  background-color: transparent;
}

@media (min-width: 768px) {
  .slide {
    min-width: 18%;
  }
}