.container4 {
  width: 95%;
  margin: 0 auto;
}
.row4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8.5px;
}

.oac__title {
  margin: 0;
  padding: 1em 0;
  font-size: 12px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.card99 {
  width: 100%;
}

.card99:hover .card99__title-price, .card99__featured-image:hover, .product-images, .size-options {
  opacity: 0;
}

.img-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.card99__img {
  width: 100%;
}

.card99__card {
  position: relative;
}

.product-images:hover, .card99:hover .size-options {
  opacity: 1;
}

.img-slide__img {
  width: 100%;
}

.slide-btn {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

.prev-slide {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.next-slide {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

.card99__title {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (min-width: 650px) {
  .slide-btn {
    display: block;
  }
}

