img {
  /* width: 100%;
  height: 100%; */
  border: 3px green solid;
}

.slider {
  width:300px;
  border:5px solid red;
  overflow-x: hidden; 
}

.container {
  /* overflow: hidden; */
  /* cursor: grab; */
  /* width: 100%; */
}

.row {
  display: flex;
}

.slick-slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slide {
  border: 3px red solid;
  /* width: 100%; */
  /* max-width: 800px; */
  /* height: 350px; */
  cursor: pointer;
}