img {
   max-width: 100%;
   display: block;
}

.row {
  display: flex;
  gap: .625em;
}

.slick {
  overflow: hidden;
  padding: 3.125em;
}

.slide {
  min-width: 60vw;
}

@media (min-width: 768px) {
  .slide {
    min-width: 18%;
  }
}