.container4 {
  width: 95%;
  margin: 0 auto;
}
.row4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8.5px;
}

.options-available-card__title {
  margin: 0;
  padding: 1em 0;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.card99 {
  width: 100%;
}

.card99:hover .card99__title-price, .card99__featured-image:hover, .product-images, .size-options {
  opacity: 0;
}


.card99:hover .card99__title-price, .card99__featured-image:hover, .size-options {
  opacity: 0;
}

.img-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  width: 100%;
  cursor: pointer;
}

.card99__img {
  width: 100%;
  height: auto;
}

.card99__card {
  position: relative;
}

.product-images:hover, .card99:hover .size-options {
  opacity: 1;
}

.card99:hover .size-options {
  opacity: 1;
}

.slide-btn {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  top: 50%;
  z-index: 2;
  position: absolute;
}

.slide-btn:hover {
  opacity: 33%;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.card-carousel__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.img-slide__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-slide.data-active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.card99__product-information {
  position: relative;
}

.card99__title {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.color-swatches {
  display: flex; 
  gap: .34em;
}

.color-swatches__item {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;

  /* Need to figure out how to make the border a darker color. The line below is a failed attempt */
  border: 1px solid;
  border-color: rgba(18, 18, 18, 0.04); 
}

.size-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (min-width: 650px) {
  .slide-btn {
    display: block;
  }
}

